## Pandas for data wrangling
## matplot lib and seaborn for visualization

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('Dataset/Boston.csv',index_col=0)

In [3]:
data.head()

,crim,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
1,0.00632,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
2,0.02731,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
3,0.02729,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
4,0.03237,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
5,0.06905,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [4]:
data.shape

(506, 12)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 1 to 506
Data columns (total 12 columns):
crim       506 non-null float64
indus      506 non-null float64
chas       506 non-null int64
nox        506 non-null float64
rm         506 non-null float64
age        506 non-null float64
dis        506 non-null float64
rad        506 non-null int64
tax        506 non-null int64
ptratio    506 non-null float64
lstat      506 non-null float64
medv       506 non-null float64
dtypes: float64(9), int64(3)
memory usage: 51.4 KB

In [6]:
data.describe()

,crim,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,8.601545,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,0.006320,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082045,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.256510,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.677082,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,88.976200,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

In [7]:
sns.lmplot('rm','medv',data=data,fit_reg=True)
plt.xlabel("no. of rooms per dwelling.")
plt.ylabel("median value of owner-occubied homes in $1000")
plt.savefig('./Output_Images/rm_medv_lmplot')

In [8]:
sns.lmplot('age','medv',data=data,fit_reg=True)
plt.xlabel("no. of rooms per dwelling.")
plt.ylabel("median value of owner-occubied homes in $1000")
plt.savefig('./Output_Images/age_medv_lmplot')

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
X = data.drop('medv',axis=1)
Y = data['medv']

x_train, x_test, y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [11]:
x_train.shape, y_train.shape

((404, 11), (404,))

In [12]:
linear_regression=LinearRegression()
linear_regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
y_pred=linear_regression.predict(x_test)
y_pred

array([ 26.68061363,  23.08589702,  29.7466837 ,  11.07484072,
        22.35393597,  19.51885304,  20.24532467,  21.58706292,
        19.13219202,  22.48755288,   7.64201152,  18.41143242,
        16.71184855,   4.18963609,  40.77444507,  32.1158482 ,
        22.31439207,  36.0096684 ,  31.59956045,  23.47088531,
        25.27232024,  25.20319224,  20.32879021,  29.31103235,
        23.17608196,  11.23811936,  17.60423161,  18.81303211,
        36.45846795,  20.99946603,  17.65477544,  17.05561931,
        20.54801687,  23.97709276,  29.45008733,  18.75682351,
         9.99796948,  24.22467219,  19.39861082,  15.35408788,
        27.3753245 ,  21.54771404,  24.21866198,  15.17400691,
        24.99914861,  25.94017727,  21.17828645,  23.27167122,
         9.02325066,  24.31372169,  23.25624501,  17.27126912,
        24.94814155,  31.16265842,  13.77757765,  22.24567077,
        20.77483565,  17.41531427,  16.672863  ,  22.44784823,
        17.86213428,  21.88479939,  32.92554283,  31.81694803,
        17.29395534,  32.48031325,  18.18308283,  20.32144824,
        19.92802518,  23.25460782,  23.69835101,  24.94101113,
        29.0995401 ,  28.12945583,  25.86661194,   3.81671667,
        37.58060173,  24.21953578,  27.78063181,  19.19060382,
        28.82608343,  18.4867505 ,  18.48700984,  38.42983246,
        39.88710859,  24.49536992,  25.5166359 ,  18.23870697,
        26.11788523,  15.88644382,  14.01156009,  14.4019902 ,
        23.70562453,  30.56546802,  21.78875442,  20.84395216,
        -1.1711905 ,  24.08925811,  17.53075575,  17.68280702,
        25.81964781,  22.17366584])

In [14]:
df_y=pd.DataFrame({'y_test':y_test, 'y_pred':y_pred})
df_y.sample(10)

        y_pred  y_test
214  25.819648    28.1
498  19.190604    18.3
320  21.884799    21.0
211  22.447848    21.7
242  23.977093    20.1
225  38.429832    44.8
408  18.487010    27.9
79   22.353936    21.2
176  31.599560    29.4
91   27.780632    22.6

In [15]:
print("Training score : " ,linear_regression.score(x_train,y_train))

Training score :  0.762799973396

In [16]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
print("testing score : ", score)

testing score :  0.568761235519

In [17]:
import numpy as np
import statsmodels.api as sp

In [18]:
X=np.array(X)
X[:5]

array([[  6.32000000e-03,   2.31000000e+00,   0.00000000e+00,
          5.38000000e-01,   6.57500000e+00,   6.52000000e+01,
          4.09000000e+00,   1.00000000e+00,   2.96000000e+02,
          1.53000000e+01,   4.98000000e+00],
       [  2.73100000e-02,   7.07000000e+00,   0.00000000e+00,
          4.69000000e-01,   6.42100000e+00,   7.89000000e+01,
          4.96710000e+00,   2.00000000e+00,   2.42000000e+02,
          1.78000000e+01,   9.14000000e+00],
       [  2.72900000e-02,   7.07000000e+00,   0.00000000e+00,
          4.69000000e-01,   7.18500000e+00,   6.11000000e+01,
          4.96710000e+00,   2.00000000e+00,   2.42000000e+02,
          1.78000000e+01,   4.03000000e+00],
       [  3.23700000e-02,   2.18000000e+00,   0.00000000e+00,
          4.58000000e-01,   6.99800000e+00,   4.58000000e+01,
          6.06220000e+00,   3.00000000e+00,   2.22000000e+02,
          1.87000000e+01,   2.94000000e+00],
       [  6.90500000e-02,   2.18000000e+00,   0.00000000e+00,
          4.58000000e-01,   7.14700000e+00,   5.42000000e+01,
          6.06220000e+00,   3.00000000e+00,   2.22000000e+02,
          1.87000000e+01,   5.33000000e+00]])

In [19]:
X=sp.add_constant(X)

In [21]:
model=sp.OLS(Y,X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   medv   R-squared:                       0.728
Model:                            OLS   Adj. R-squared:                  0.722
Method:                 Least Squares   F-statistic:                     120.3
Date:                Fri, 24 Apr 2020   Prob (F-statistic):          5.46e-132
Time:                        19:15:04   Log-Likelihood:                -1510.7
No. Observations:                 506   AIC:                             3045.
Df Residuals:                     494   BIC:                             3096.
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         42.0839      4.986      8.440      0.000      32.287      51.880
x1            -0.1117      0.033     -3.363      0.001      -0.177      -0.046
x2            -0.0090      0.062     -0.144      0.886      -0.132       0.114
x3             2.8852      0.879      3.282      0.001       1.158       4.612
x4           -19.2369      3.889     -4.946      0.000     -26.878     -11.595
x5             3.8792      0.420      9.247      0.000       3.055       4.703
x6            -0.0018      0.013     -0.135      0.892      -0.028       0.024
x7            -1.2161      0.187     -6.520      0.000      -1.583      -0.850
x8             0.2652      0.067      3.945      0.000       0.133       0.397
x9            -0.0098      0.004     -2.621      0.009      -0.017      -0.002
x10           -1.0767      0.127     -8.479      0.000      -1.326      -0.827
x11           -0.5431      0.051    -10.624      0.000      -0.644      -0.443
==============================================================================
Omnibus:                      175.005   Durbin-Watson:                   1.048
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              740.040
Skew:                           1.507   Prob(JB):                    2.01e-161
Kurtosis:                       8.101   Cond. No.                     1.17e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.17e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""