In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('./Dataset/german_credit_data_weka_dataset.csv')
data.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,personal,other_debtors,...,property,age,other_installment_plans,housing,existing_credits,job,dependents,telephone,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,A65,A75,4.0,A93,A101,...,A121,67.0,A143,A152,2.0,A173,1,A192,A201,1
1,A12,48,A32,A43,5951.0,A61,A73,2.0,A92,A101,...,A121,22.0,A143,A152,1.0,A173,1,A191,A201,2
2,A14,12,A34,A46,2096.0,A61,A74,2.0,A93,A101,...,A121,49.0,A143,A152,1.0,A172,2,A191,A201,1
3,A11,42,A32,A42,7882.0,A61,A74,2.0,A93,A103,...,A122,45.0,A143,A153,1.0,A173,2,A191,A201,1
4,A11,24,A33,A40,4870.0,A61,A73,3.0,A93,A101,...,A124,53.0,A143,A153,2.0,A173,2,A191,A201,2

customer_type indicate the credit worthy customer.
1. creditworthy
2. non creditworthy

In [3]:
data.shape

(1000, 21)

In [4]:
data.columns

Index(['checking_account_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings', 'present_employment', 'installment_rate',
       'personal', 'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'existing_credits', 'job',
       'dependents', 'telephone', 'foreign_worker', 'customer_type'],
      dtype='object')

In [5]:
data=data.drop(['telephone', 'personal','present_residence','other_installment_plans'],axis=1)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
checking_account_status    1000 non-null object
duration                   1000 non-null int64
credit_history             1000 non-null object
purpose                    1000 non-null object
credit_amount              1000 non-null float64
savings                    1000 non-null object
present_employment         1000 non-null object
installment_rate           1000 non-null float64
other_debtors              1000 non-null object
property                   1000 non-null object
age                        1000 non-null float64
housing                    1000 non-null object
existing_credits           1000 non-null float64
job                        1000 non-null object
dependents                 1000 non-null int64
foreign_worker             1000 non-null object
customer_type              1000 non-null int64
dtypes: float64(4), int64(3), object(10)
memory usage: 132.9+ KB

In [7]:
data['savings'].unique()

array(['A65', 'A61', 'A63', 'A64', 'A62'], dtype=object)

In [8]:
from sklearn.preprocessing import LabelEncoder
savings_dict = {'A65':0, 'A61':1, 'A63':3, 'A64':4, 'A62':2}
data['savings'].replace(savings_dict,inplace=True)
data.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,other_debtors,property,age,housing,existing_credits,job,dependents,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,0,A75,4.0,A101,A121,67.0,A152,2.0,A173,1,A201,1
1,A12,48,A32,A43,5951.0,1,A73,2.0,A101,A121,22.0,A152,1.0,A173,1,A201,2
2,A14,12,A34,A46,2096.0,1,A74,2.0,A101,A121,49.0,A152,1.0,A172,2,A201,1
3,A11,42,A32,A42,7882.0,1,A74,2.0,A103,A122,45.0,A153,1.0,A173,2,A201,1
4,A11,24,A33,A40,4870.0,1,A73,3.0,A101,A124,53.0,A153,2.0,A173,2,A201,2

In [9]:
data=pd.get_dummies(data,columns=['checking_account_status','credit_history','purpose','present_employment','property','housing','other_debtors','job','foreign_worker'])
data.shape

(1000, 48)

In [10]:
data.head()

,duration,credit_amount,savings,installment_rate,age,existing_credits,dependents,customer_type,checking_account_status_A11,checking_account_status_A12,...,housing_A153,other_debtors_A101,other_debtors_A102,other_debtors_A103,job_A171,job_A172,job_A173,job_A174,foreign_worker_A201,foreign_worker_A202
0,6,1169.0,0,4.0,67.0,2.0,1,1,1,0,...,0,1,0,0,0,0,1,0,1,0
1,48,5951.0,1,2.0,22.0,1.0,1,2,0,1,...,0,1,0,0,0,0,1,0,1,0
2,12,2096.0,1,2.0,49.0,1.0,2,1,0,0,...,0,1,0,0,0,1,0,0,1,0
3,42,7882.0,1,2.0,45.0,1.0,2,1,1,0,...,1,0,0,1,0,0,1,0,1,0
4,24,4870.0,1,3.0,53.0,2.0,2,2,1,0,...,1,1,0,0,0,0,1,0,1,0

In [11]:
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [12]:
def navie_bays(x_train,y_train):
    classifier=GaussianNB()
    classifier.fit(x_train,y_train)
    return classifier

In [13]:
def k_nearest_neighbours(x_train,y_train):
    classifier=KNeighborsClassifier(n_neighbors=10)
    classifier.fit(x_train,y_train)
    return classifier

In [14]:
def svc(x_train,y_train):
    classifier=SVC(kernel='rbf',gamma='scale')
    classifier.fit(x_train,y_train)
    return classifier

In [15]:
def decision_tree(x_train,y_train):
    classifier=DecisionTreeClassifier(max_depth=6)
    classifier.fit(x_train,y_train)
    return classifier

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [17]:
X=data.drop('customer_type',axis=1)
Y=data['customer_type']
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [18]:
def build_and_train_classifier(x_train,y_train,classification_fn):
    model=classification_fn(x_train,y_train)
    y_pred=model.predict(x_test)
    
    train_score=model.score(x_train,y_train)
    test_score= accuracy_score(y_test,y_pred)
    
    print("Training Score : ", train_score)
    print("Testing Score : ", test_score)

In [19]:
build_and_train_classifier(x_train,y_train,k_nearest_neighbours)

Training Score :  0.72625
Testing Score :  0.69

In [20]:
build_and_train_classifier(x_train,y_train,navie_bays)

Training Score :  0.75375
Testing Score :  0.71

In [21]:
build_and_train_classifier(x_train,y_train,decision_tree)

Training Score :  0.8
Testing Score :  0.685

In [22]:
x_train_1,x_train_2,y_train_1,y_train_2=train_test_split(x_train,y_train,test_size=0.5)

In [23]:
rfc=RandomForestClassifier(max_depth=4,n_estimators=2,warm_start=True)

In [24]:
rfc.fit(x_train_1,y_train_1)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=2, n_jobs=1,
            oob_score=False, random_state=None, verbose=0, warm_start=True)

In [25]:
y_pred=rfc.predict(x_test)
test_score=accuracy=accuracy_score(y_test,y_pred)
print('Testing Score : ',test_score)

Testing Score :  0.71

In [26]:
rfc.n_estimators+=2
rfc.fit(x_train_2,y_train_2)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=4, n_jobs=1,
            oob_score=False, random_state=None, verbose=0, warm_start=True)

In [27]:
y_pred=rfc.predict(x_test)
test_score=accuracy=accuracy_score(y_test,y_pred)
print('Testing Score : ',test_score)

Testing Score :  0.73